# Database
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE"

# Redis
REDIS_URL="redis://HOST:PORT"

# JWT
JWT_ACCESS_SECRET="your-access-secret-min-32-characters-long"
JWT_REFRESH_SECRET="your-refresh-secret-min-32-characters-long"

# JWT Expiration
JWT_ACCESS_EXPIRATION="15m"
JWT_REFRESH_EXPIRATION="7d"

# Server
PORT=3000
NODE_ENV="development"

# CORS
CORS_ORIGINS="*"
